<div class="px-5">
    <h1>Login</h1>
</div>
<form method="post" action="/login">
    <div class="mb-auto px-5">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username"/>
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password"/>
    </div>
    <div class="mb-auto px-5">
        <br>
        <button id="register_button" type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="mb-auto px-5">
        <p>Already have an account?</p>
        <a class="nav-link" href="/register">Register</a>
    </div>
</form>