<style>
  .navbar
  {
    background-color: #89023E;
  }
  .navbar-link
  {
    color:white;
    font-weight: bolder;
    font-size: large;
  }
</style>
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class = "navbar-link" href= '/home'>Home</a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            
          {{!-- if logged in the email on top right redirects to profile page --}}
          {{!-- {{#if user}} --}}
            {{!-- <a class="navbar-link" href="/profile">{{email}}</a> --}}
            {{!-- <h1>{{user.email}}</h1> --}}
          {{!-- {{/if}} --}}

          {{!-- This is temporary, it will be more customized once I figure it out but until then at least this will allow users to logout --}}
            <a class="navbar-link" href='/profile' >Profile</a>
          </li>
      </ul>
    </div>
  </nav>
</header>