<!DOCTYPE html>
<html>
<h1> Current Reports For Review:</h1>
    <div id="Report">
        <a>
            {{!-- using "this" and loop to gather all reports and add post/deny button to each--}}
        </a>
    </div>

</html>

{{>footer}}