
{{!-- maybe add this to the CSS file? idk man i am not sure what i am doing heheheh --}}
<style> 
    .uniform-btn {
        --bs-btn-padding-y: 2.7rem;
        --bs-btn-padding-x: 5rem;
        --bs-btn-font-size: 2rem;
        width: 500px;
        text-align: center; 
    }

    .hover-color {
        background-color: #5D0E41; 
        color: #fff; /* Text color */
    }

    .uniform-btn.custom-color:hover,
    .uniform-btn.hover-color:hover {
        background-color: #99407a; 
        color: #fff; /* Text color */
    }

    #nav_buttons_container {
        text-align: right; 
        margin-right: 20px; 
    }
</style>

{{!-- This is broken!!!!!!!!!!!!!!!! --}}
<div id = "Map projection"> 
    <script async defer src="API_KEY"></script>
    <script>
    function initMap() {
    var mapOptions = {
        center: new google.maps.LatLng(40.014984, -105.270546),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
        position: mapOptions.center,
        map: map,
        title: 'Location'
    });
    }
    </script>
</div>

<div id="nav_buttons_container">
<br>
    <div id="report_button">
        <a href="/report" class="btn btn-primary uniform-btn hover-color">
            Make a Report
        </a>
    </div>
    <br>
    <div id="alert_button">
        <a href="/alerts" class="btn btn-primary uniform-btn hover-color">
            Check Alerts
        </a>
    </div>
    <br>
    <div id="resource_button">
        <a href="/resources" class="btn btn-primary uniform-btn hover-color">
            View Resources
        </a>
    </div>
    <br>
    <div id="map_button">
        <a href="/map" class="btn btn-primary uniform-btn hover-color">
            Look at the map
        </a>
    </div>
</div>