
<html>
<h1> I am gonna put some buttons below lol</h1>
    <div id="report_button">
        <a href="/login" class="btn btn-primary"  style="--bs-btn-padding-y: 4rem; --bs-btn-padding-x: 8rem; --bs-btn-font-size: 2rem;">
            Report Incident
        </a>
    </div>
    <div id="report_button">
        <a href="/login" class="btn btn-primary"  style="--bs-btn-padding-y: 4rem; --bs-btn-padding-x: 8rem; --bs-btn-font-size: 2rem;">
            Report Incident
        </a>
    </div>

</html>

{{>footer}}