<style>
    .hover-color {
        background-color: #5D0E41;
        color: white;
    }
    .uniform-btn.custom-color:hover,
    .uniform-btn.hover-color:hover {
        background-color: #99407a;
        color: white;
    }
</style>

{{#if message}}
    {{>message}}
{{/if}}

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #FF204E">
        <div class="card-body p-5 text-center">
          <form method="post" action="/login">
            <h3 class="mb-5" style="color: white">Login</h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <label for="email" class="form-label" style="color: white">Email</label>
              <input type="text" class="form-control" name="email"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label for="password" class="form-label" style="color: white">Password</label>
              <input type="password" class="form-control" name="password"/>
            </div>

            <hr class="my-4">

            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block uniform-btn hover-color" type="submit">Login</button>

            <hr class="my-4">

            <div class="mb-3" style="text-align:center">
            <p style="color: white">Dont have an account?</p>
            <a class="link-opacity-100 link-offset-3" style="color: white" href="/register">Sign up</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>