<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<br>

<div class="card" style="width: 25rem; height:36rem; background-color:lightblue; margin-left:20px">
    <br>
    <img class="card-img-top" src="https://fivepointsdentalnj.com/wp-content/uploads/2015/11/anonymous-user.png" style="height: 300px; width: auto; align-self: center;">
    
    <div class="card-body">
        {{!-- if user has input their name it will show up, otherwise they will appear as "new user" --}}
        <h4 id="user-name" class="card-title" style="font-weight:bold">{{name}}</h5>
        {{!-- if user has input a location it will appear - otherwise it will just say Earth --}}
        <h6 id="user-location" class="card-text">{{location}}</h6>
        <p id="user-bio" class="card-text">{{bio}}</p>

        <a href="/editProfile" class="btn btn-block btn-outline-light" style="background-color:#00224D">Edit Profile</a>
        <a href='/logout' class="btn btn-block btn-outline-light" style="background-color:#00224D">Logout</a>
    </div>
</div>

{{>message}}